body{
    background-image: url(img/chill.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

header {
    background-color: rgba(255, 152, 0, 0.2);
    color: #000000;
    text-align: center;
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}

.container{
    background-color: rgba(255, 152, 0, 0.2);
    max-width: 500px;
    margin: 150px auto;
    padding: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 17px;
    text-transform: uppercase;
}

input[type="text"],
input[type="number"]
{
    width: 100%;
    padding: 0 5px;
    margin-bottom: 15px;
    border: none;
    background: none;
    outline: none;
    border-bottom: 2px solid #000;
    text-transform: uppercase;
    font-weight: bold;
  
}

input::placeholder,
textarea::placeholder{
    color: rgba(0, 0, 0, 0.8);
    text-transform: lowercase;
}

select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
	border:2px solid rgba(0,0,0,0.2);
    border-radius: 5px;    
}

select{
    display: inline-block;
	width: 100%;
	cursor: pointer;
  	padding: 7px 10px;
  	height: 42px;
  	outline: 0; 
  	border: 0;
	border-radius: 0;
	background: rgba(245, 245, 245, 0.400);
	font-size: 15px;
    position: relative;
    transition: all 0.25s ease;
}

select:hover{
    background: rgba(245, 245, 245, 0.4);
    box-shadow: 0 0 15px 3px rgba(245, 245, 245, 0.4);
}

textarea {
    height: 100px;
    background: rgba(245, 245, 245, 0.400);
    text-transform: uppercase;
    font-size: 15px;
}

.btn {
    background-color: #faff00;
    color: #000000;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    font-size: 13px; 
    border-radius: 5px; 
    transition: box-shadow 0.5s ease; 
    display: block; 
    margin: 0 auto;
}

.btn:hover {
    box-shadow: 0 0 20px 10px rgba(255, 255, 0, 0.845);
}

footer{
    text-align: center;
}